body {
    font-family:'Poppins', sans-serif;
    margin-left: 20px;
}
h1{
    font-size: 40px;
}
.flex-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
}
.color-text{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-color: coral;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 800;
}
.my-mission{
    text-align: center;
}
#mission{
    width: 25%;
    height: 50%;
    margin: 0 2%;
    background-color: rgb(253, 178, 143);
    padding: 10px 20px;
    border-radius: 30px;
} 
#vission{
    width: 25%;
    height: 40%;
    margin: 0 2%;
    background-color: rgb(192, 247, 208);
    padding: 10px 20px;
    border-radius: 30px;
}
#goal{
    width: 25%;
    height: 40%;
    margin: 0 2% 0 0 ;
    background-color: rgb(219, 219, 219);
    padding: 10px 20px;
    border-radius: 30px;
}
.illustrator{
    height: 50%;
    height: 40%;
    width: 70%;
    margin-right: ;
}